/Account/nbproject/private/
/Account/build/
/AccountTest/nbproject/private/
/AccountTest/build/
/AccountTest2/nbproject/private/
/AccountTest2/build/
/AccountTestDouble/nbproject/private/
/AccountTestDouble/build/
/DeckOfCardsTest/nbproject/private/
/test1/nbproject/private/
/DeckOfCardsTest/build/
/discussion/nbproject/private/
/discussion/build/
/Discussion_110515/nbproject/private/
/Discussion_110515/build/
/employeeinterfacedemo/nbproject/private/